.container2,
.container{
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    line-height: 1.6;
}
.card-list{
    margin-bottom: 20px;
    float: left;
    height: 366px;
}
.card-list-1{
    width: 100%;
}
.card-list-2{
    width: 50%;
}
.card-list-3{
    width: 33.33%;
}
.card-list .card-list-4{
    width: 25%;
}
.card-list img{
    max-width: 100%;
}
.card-list h1{
    font-size: 24px;
}
.card-list p{
    margin-top: 10px;
    padding: 0 20px;
}