<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>基于vue的卡片组件</title>
    <link rel="stylesheet" href="css/card.css">
</head>
<body>

<!--实例-->
<div class="container">
    <my-card v-for="list in lists" :list="list" :class-group="classGroup"></my-card>
</div>

<div class="container2">
    <my-card v-for="list in lists" :list="list" :class-group="classGroup"></my-card>
</div>

<!--模板-->
<template id="card-template">
    <div :class="classGroup" @click="al">
        <img :src="list.imgUrl" alt="">
        <h1>{{list.title}}</h1>
        <small>{{list.small}}</small>
        <p>{{list.text}}</p>
    </div>
</template>

<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/vue/1.0.18/vue.min.js"></script>
<script src="js/data.js"></script>
<script src="js/card.js"></script>
</body>
</html>